:root {
  --color-foreground: hsl(0, 0%, 0%);
  --color-background: hsl(0, 0%, 100%);
  --color-primary: hsl(230, 100%, 50%);
  --color-primary-light: hsl(230, 100%, 60%);
  --color-primary-dark: hsl(230, 100%, 40%);
  --color-gray-dark: hsl(0, 0%, 60%);
  --color-gray-light: hsl(0, 0%, 90%);
  --font-body: -apple-system, "Segoe UI", Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif, system-ui, "Apple Color Emoji", "Segoe UI Emoji";
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body {
  font-family: var(--font-body);
  line-height: 1.5;
}

a {
  color: var(--color-primary-light);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary-dark);
  text-decoration: underline;
}
