.word-form label {
  font-size: 0.8em;
  display: block;
}

.word-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid var(--color-gray-dark);
  border-radius: 0.5rem;
}
